language: java
jdk:
- openjdk11
before_install:
- cd /src/main/resources
- echo "$PATH"
- ll
- openssl aes-256-cbc -K $encrypted_442a81cafda4_key -iv $encrypted_442a81cafda4_iv -in application-botSettings.properties.enc -out application-botSettings.properties -d
install:
- mvn -N io.takari:maven:wrapper
- "./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V"
script:
- "./mvnw clean install"
